/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */
body {
    background: rgb(53, 28, 20);
    color: azure;
    background-size: cover;
}

.cursor {
    cursor: none;
    font-size: large;
    color: rgb(31, 14, 11);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.bodycontainer {
    position: relative;
    width: 100%;
}

    #imgone {
    top: 100px;
    left: 440px;
}

.imagecontainer {
    position: relative;
    width: 100%;
}

    #imgTwo {
    top: 300px;
    left: 100px;
    width: 300px;
    height: 400px;
}

    #imgThree {
    top: 2000px;
    left: 900px;
    width: 300px;
    height: 400px;
}

    #imgFour {
    top: 200px;
    left: 100px;
    width: 300px;
    height: 400px
}

.imagecontainer > img {
    width: 100%;
    height: 100%;
}

    #dirtywindow {
    width: 30%;
    left: 660px;
    border-style: solid;
    border-color: rgb(102, 62, 25);
}

        #coffee {
    left: 784px;
    margin-top: -12.5% ;
    opacity: 0.7;
    }

        #book {
    left: 1029px;   
    margin-top: -4.7%;
    opacity: 0.7;
    }
        #sparkles2 {
    margin-top: -14.9%;
    left: 1000px;
    }

    #rainbow {
    width: 30%;
    left: 560px;
    top: 49px;
    }

    #airplane {
    left: 700px;
    top: 80px;
    }

    #plane {
    width: 30%;
    left: 560px;
    }

    #sparkles {
    left: 1040px;
    top: 210px;
    }


.imagecontainer + .hide {
    display: block;
    color: aliceblue;
}

    #latteart {
    width: 30%;
    left: 560px;
    }

    #closeupcoffee {
    width: 30%;
    left: 560px;
    }

    #water {
    width: 30%;
    left: 560px;
    }

    #forest1 {
    width: 30%;
    left: 560px;
    }
    #forest2 {
    width: 30%;
    left: 560px;
    }
    #forest3 {
    width: 30%;
    left: 560px;
    }

    #sunset {
    width: 30%;
    left: 560px;
    }

    #iced {
    left: 440px;
    top: 80px;
    }

    #latte {
    width: 30%;
    left: 940px;
    top:  -40.7%;
    transform: rotate(270deg);
    }

    #bubbly {
    width: 30%;
    left: 620px;
    }

    #rainbow1 {
    left: 560px;
    }
    #rainbow2 {
        left: 560px;
        }

    .hiddentext {
    display: none;
    text-align: center;
    font-family: serif;
    font-size: x-large;
    color: rgb(255, 243, 81);
    }
    .text:hover + .hiddentext {
    display: block;
    color: rgb(242, 255, 53);
    text-align: center;
    }

    .hiddenmagic {
        display: none;
        font-family: serif;
        font-size: medium;
        color: rgb(252, 249, 206);
        }
    .showntext:hover + .hiddenmagic {
        display: block;
        color: rgb(247, 248, 228);
        }
        
    #themagicishere {
    left: 1499px;
    margin-top: -400px;
    color:  rgb(35, 75, 102);
    }

    #bubblespng {
    left: 100px;
    top: -40.7%;
    }

    #pit {
    left: 170px;
    }

    #switzerland {
    margin-top: -46%;
    left: 1100px;
    }
    #tassie {
    margin-top: 2%;
    left: 1100px;
    }
    #sydney {
    margin-top: 2%;
    left: 1100px;
    }

    #swissmountain {
    left: 560px;
    }

    #sailboat {
    top: -78%;
    left: 970px;
    }

    #ocean {
    left: 469px;
    top: 100px;
    }
    #closedbook {
    left: 469px;
    top: 100px;
    }

    #bed {
    left: 1000px;
    top: -440px;
    }

    
   
    
h1 {
    color: rgb(197, 181, 167);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

h2 {
    color: rgba(255, 255, 255, 0.712);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: lighter;
    margin-top: 49px;
}

h3 {
    color: rgb(148, 126, 126);
    text-align: right;
    margin-top: 120px;
    font-size: larger;
}

h4 {
    color: rgb(243, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    font-size: x-large;
}

h5 {
    color: rgb(243, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    margin-top: 499px;
    font-size: x-large;   
}
h6 {
    color: rgb(25, 39, 22);
    font-size: larger;
    margin-top: -12%;
}

